@CHARSET "utf-8";

table{
	width: 100%;
	border: hidden;
}


#sidemenu input[type=button]:HOVER {
	background-color: white;
	color: #4c95af;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 10px
		rgba(0, 0, 0, 0.24);
}
.detailsTable th,.detailsTable td{
	/*column-width: inherit;*/
	text-align: left;
	font-style: italic;
	font-family: cursive;
	color: #4c95af;
	padding: 7px 20px;
}
.detailsTable tr:nth-child(even) {background-color: #f1f1c4}
#sidemenu input[type=button] {
	background-color: #4c95af;
	color: white;
	text-align: center;
	width: 260px;
	border: none;
	padding: 11px;
}
.maintable input[type=button]{
	background-color: #4c95af;
	color: white;
	text-align: center;
	width: 50px;
	border: none;
	padding: 3px;
	
}
input, select {
	margin: 7px;
	padding:7px 15px;
	text-decoration: none;
	text-decoration: none;
	font-size: 16px;
	font-family: cursive;
	min-width: 200px;
}

.loginForm {
	margin: 3px;
	padding: 3px;
	font-style: italic;
	font-family: cursive;
}

.header {
	max-height: 90px;
	display: block;
}

.leftheader {
	background-color: powderblue;
	font-size: x-large;
	margin: 3px;
	padding: 3px;
}

#rightheader {
	background-color: #ffffcc;
}

#rowmain {
	height: 800px;
	background-color: #ffffcc;
	vertical-align: top;
}

.sidemenu {
	background-color: powderblue;
	width: 15%;
	border-spacing: 20px;
}

#footer {
	height: 35px;
	background-color: #ffffcc;
	border-top: 1px solid green;
	font-style: italic;
	font-family: cursive;
}

.submit {
	display: marker;
	padding: 10px;
	font-family: cursive;
}

#sidemenuheader {
	
	font-style: italic;
	font-family: cursive;
	font-size: xx-large;
}

#sidemenutitle {
	font-style: italic;
	font-family: cursive;
	font-size: x-large;
}
.coupon{
	float: left;
	position: relative;
	margin: 13px;
}
.center{padding: 0 200px;
}

.imagetext{
	width: 550px;
	font-style: italic;
	font-family: cursive;
	font-size: large;
}

.section-title{
	font-style: italic;
	font-family: cursive;
	color: #4c95af
}

.header-text{
	font-style: italic;
	font-family: cursive;
	color: #4c95af
}

#statlogin{
	color: red;
}

#signout{
	float: right;
	display: inline;
	vertical-align: top
	font-style: italic;
	font-family: cursive;
	color: #4c95af
}

.tableheader{
	font-style: italic;
	font-family: cursive;
	color: #4c95af
}

